---
layout: home
title: Latest Posts
description: "Your personal blog."
headline: Your Headline
tags: [tags]
---

<!-- {% if site.paginate %}
	{% for post in paginator.posts %}
		{% if site.wpm %}
			{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
		{% else %}
			{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:180 %}
		{% endif %}

		{% assign modifiedtime = post.modified | date: "%Y%m%d" %}
		{% assign posttime = post.date | date: "%Y%m%d" %}

		{% if post.type == 'quote' %} -->
<div class="row">
<p>We all love to relax and chat with friends. Who doesn&#39;t love a cold brew ? Drinking beer with people is an important social ritual that is often linked to many memories (or the absence of it), especially of our younger days. EPFL is a highly international institution with people from all around the world. They leave their home countries behind to join EPFL but what if we could bring them back a bit of it ? We decided to match beers from SAT, our beloved bar, to the countries where they would be the most appreciated. We can now recommend them to people missing home and hope it might cure a bit of this homesickness ! It is also a tool to ask SAT to buy new beers, since it would be sad to leave people without a beer similar to their country&#39;s, don&#39;t you think ?</p>
	<h2 id="a-quick-sip-through-our-data">A quick sip through our data</h2>
		<table>
			<thead>
			<tr>
			<th style="text-align:left">Dataset</th>
			<th style="text-align:center">Beers 🍺</th>
			<th style="text-align:right">Brew styles 🍶</th>
			<th>Beer lovers 👥</th>
			<th>Beer cost 💸</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td style="text-align:left">RateBeer</td>
			<td style="text-align:center">396690 beers from 265 locations*</td>
			<td style="text-align:right">93 beer styles</td>
			<td>70120 beer lovers from 222 locations*</td>
			<td>No data</td>
			</tr>
			<tr>
			<td style="text-align:left">BeerAdvocate</td>
			<td style="text-align:center">247982 beers from 264 locations*</td>
			<td style="text-align:right">104 beer styles</td>
			<td>153704 beer lovers from 194 locations*</td>
			<td>No data</td>
			</tr>
			<tr>
			<td style="text-align:left">Satellite Bar</td>
			<td style="text-align:center">66 beers from 8 countries</td>
			<td style="text-align:right">21 beer styles</td>
			<td>No data</td>
			<td>Beer prices from 3.- to 16.- CHF</td>
			</tr>
		</tbody>
	</table>
	<p>*Location can be either countries or regions of countries with many active users (e.g. Individual states of the United States or regions of the United Kingdom)</p>
	<p>Our assumptions and decisions and when processing these datasets were:</p>
		<ul>
		<li>Users without a defined country in the dataset were considered to have &quot;Unknown&quot; location. Their data is not considered in the beer preference world map we show, but they are considered in the SAT t-SNE clustering plots.</li>
		<li>Beers without rating and breweries without beers were not considered.</li>
		<li>After preliminary observations from an exploratory step of our analysis (available in the accompanying Jupyter Notebook as &#39;Milestone 2&#39;, we consider that BeerAdvocate and RateBeer have considerably different communities. Despite having a dataset of matching users and beers available for our study, we perform our analysis in each dataset separatedly.  </li>
		</ul>
		<h2 id="an-iconic-duo-beer-opinions-and-bias">An iconic duo : beer opinions and bias</h2>
		<p>One of the main challenges when analysing data from rating and review systems comes from the fact that humans are prone to bias. One’s personal bias is not only hard to quantify but may be correlated with other personal features (place of birth, age and personal experiences, to give a few examples).</p>
		<p>Inspired by <a href="/https://krisjensen.github.io/files/bias_blog.pdf/">this paper</a> on the modelling and correction of bias of NeurIPS papers, we aim to decrease the effect of systematic reviewer bias by applying a ‘mean-field’ correction to our datasets’ ratings. </p>
		<h2 id="national-treasures-best-brew-by-country-and-the-happiness-they-bring">National treasures : best brew by country and the happiness they bring</h2>
		<p>After some digging we found the beer most voted by each countries and assumed it to be the beer most drinked. It would seem that swiss enjoy SWISS_BEER_NAME !</p>
		<p>As we can see the data-sets are mainly representaive of the USA since each states is treated as a country and to a lesser degree Europe is also more represented then the rest of the world. It seems that RateBeer and BeerAdvocate aren&#39;t as popular in the rest of the world !</p>
		<p>We also counted the mean positive and negative word used by each countries in their reviews to see if some countries were more prone to praise. It would seem that south Europe is harsher than north Europe, which is interesting. </p>
		<p>In the world-map we decided to use the state of California&#39;s data since it&#39;s the most populated state. We also did a zoom on the USA show the whole data-set.</p>
		<p>{% include map_favourite_beer_RB_country.html %}
		{% include map_favourite_beer_BA_country.html %}</p>
		<h2 id="a-trip-to-satellite-learning-beer-quality-from-the-www-wisdom">A trip to Satellite : learning beer quality from the WWW wisdom</h2>
		<p>In order to propose the best possible assortment of beers sold on campus given the opinion of our internet oracle, we devised the approach shown in this pipeline:</p>
		<p><img src="/images/SATpipelineV1.png" alt="">{:class=&quot;img-responsive&quot;}</p>
		<ul>
		<li>We scrapped and cleaned the full beer <a href="/https://satellite.bar/bar/">SAT menu</a>, preparing it for analysis.</li>
		<li>We adapted an implementation of Vector Space Retrieval (VSR) retrieved from (CS-423) in order to match SAT beers with beers reviewed in our datasets. For each dataset, we run VSR to find the top 5 matches for a given SAT beer. Matching is done based on the cosine similarity of ‘SAT beer queries’ and ‘Dataset documents’ . In this context, a ‘query’ and ‘document’ are string objects constructed by concatenating and stemming beer name, brewery and ABV.</li>
		<li>After a first analysis of our matches, we developed an heuristic in order to reproducibly recover the ratings of all SAT beers.<ul>
		<li>Matches with more than 0.8 cosine similarity and in which ABV matches perfectly are considered perfect matches. Our reasoning is that, since reporting correct ABVs is a legal obligation in many countries</li>
		<li>For beers without a perfect match, we manually check for the best match in the group of top 5 retrievals. </li>
		<li>For beers without match, we train a Random Forest model in order to roughly estimate what would be the beer rating. In this case, features for learning are constructed from country of origin of the brewery, ABV and beer style.</li>
		</ul>
		</li>
		</ul>
		<p>You can see our results in the following graph. We also proposed a ranking where ratings are normalised by price and volume for our fellow economically constrained colleagues!</p>
		<p>{% include sat_rank_separated.html %}</p>
		<p>We observe that Rochefort 10 and Rochefort 8 are consistently in the top 3 SAT beers, independently of the dataset used to rank beers sold on Satellite. Nevertheless, when we naively look at the rank based on &quot;rating per CHF and per serving&quot;, the cheaper beer wins by far. </p>
		<p>We can relate this observatin to the fact that the overall rating of the 50 out of 66 best SAT beers is in a quite close window, between 3.3 and 4.1 for both datasets, after our correction for systematic bias. This would mean that, overall, almost all beers sold at SAT are quite good, and we should probably choose them based on other properties, like their style!</p>
		<h3 id="missing-your-home-country-during-the-harsh-winter-of-2022-this-is-for-you-">Missing your home country during the harsh winter of 2022? This is for you:</h3>
		<p>Given our recent finding about the general quality of SAT beers, we try to answer the following question : 
		Can we generate recommendations of SAT beers and styles that are similar enough to what users of a specific country appreciate ? In the negative case, can we propose additions to the SAT menu that would please members the international communities of EPFL?</p>
		<p>We approach this challenge by first querying our datasets for the preferred beer of users of each country. We define ‘preferred beer according to dataset X’ as the item of &#39;X&#39; that received the bigger average rating of users of a given country, conditioned on the item having at least 10 ratings. Countries whose citizens have not, in total, reviewed beers more than 10 times are unfortunately excluded from our analysis. </p>
		<p>In order to design a good similarity metric, we harness the capabilities of one of the most recent open foundation model as of December 2022. For each textual review, we requested one embedding from OpenAi’s ADA-002 API. This approach has the benefits of being overall robust to multilingual datasets (such as ours) and  would allow, in a future work, to benchmark our results against some future work that share the same latent space. The technical details of this approach can be found in our accompanying notebook.</p>
		<p>We visualise the implicit clustering generated by these embeddings with t-SNE plots : 
		{% include RB_tsne.html %}
		{% include BA_tsne.html %}</p>
		<ul>
		<li>A cautionary notice : we suggest avoiding over-interpretating clusters of t-SNE plots. Not only t-SNE projections do not preserve distance metrics between embeddings, they are highly dependent on a &#39;perplexity&#39; parameter that must be crossvalidated for interpretable results. Moreover, our embedding strategy depends heavily on OpenAi&#39;s embeddings API model, ADA-02. To our knowledge, embeddings provided by ADA-02 are not deterministic and can change between API requests. The results stated below were results found to be consistent across several iterations of our pipeline.</li>
		<li>When considering only the clustering of beers favoured by each country (represented by the respective country flag), we observe quite different relations when comparing embeddings generated from RateBeer or BeerAdvocate datasets. This can be seen as a validation of our preliminary that both datasets are significantly different. </li>
		<li>In the RateBeer t-SNE plot, we observe a cluster with most northern countries, Switzerland and Germany. Interestingly, all countries in this cluster prefer Imperial Stouts and are not directly close to any beer sold at SAT with reviews in our dataset. This could indicate that a new Imperial Stout could be a possible nice addition to SAT&#39;s menu.</li>
		<li>Brazilian, portuguese, italian and german users of BeerAdvocate all seem to highly regard Rochefort Trappistes 10, the winner of our previously shown Satellite beer rank. </li>
		</ul>
		<p>Nevertheless, our analysis is not without weaknesses. One of the biggest challenges in recommendation systems is  the cold start problem : How to recommend beers to members of the EPFL community if we do not have access to their own reviews ? Is it really reasonable to approximate one’s beer likings with those of their compatriots?</p>
		<p>Unfortunately, we believe that the answer for this last question is, in general, no. For nationals from countries excluded in our analysis, and for those that do not identify with the tastes of their fellow country(wo)men, we propose a deep-dive on the most common terms associated with each beer style available at each dataset. </p>
		<p> {% include slate_wordclouds.html %}</p>
		<h2 id="to-wrap-up">To wrap up</h2>
		<h2 id="you-are-still-there-please-have-a-beer-gif-">You are still there ? Please have a beer GIF:</h2>
		<p><img src="/images/test_gif_beer.gif" alt="">{:class=&quot;img-responsive&quot;}</p>
</div>		

<div class="row">
	<article class="post col-md-10 col-md-offset-1">
		<header class="post-header">
			<h2 class="post-title text-center super lighter">
				<a href="{{ post.url }}"><i class="fa fa-quote-left"></i> {{ post.excerpt | strip_html }}</a>
	        </h2>
	        <p class="light small text-center">
	        	Share this Quote
	        </p>
	        <ul class="social-mini text-center">
	        	<li>
	            	<a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ post.url }}%20via%20&#64;{{ site.author.twitter }}"
	                	onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
	                    <i class="fa fa-twitter"></i>
	                </a>
	            </li>
	            <li>
	            	<a  href="https://www.facebook.com/sharer/sharer.php?u={{ post.url }}"
	                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="Share on Facebook">
	                    <i class="fa fa-facebook"></i>
	                </a>
	            </li>
	            <li>
	                <a href="https://plus.google.com/share?url={{ post.url }}"
	                    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" data-toggle="tooltip" title="Share on Google plus">
	                        <i class="fa fa-google-plus"></i>
	                </a>
	            </li>
	        </ul>
			<div class="post-body bordered-bottom text-center">
			{% if post.description %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
			        <i class="fa fa-link"></i> permalink...
			    </a>
			{% else %}
			    <a href="{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
			        <i class="fa fa-link"></i> permalink...
			    </a>
			{% endif %}
			</div>
	    </header>
	</article>
</div>
		{% endif %}

		{% if post.type == 'status' %}
<div class="row">
	<article class="post col-md-10 col-md-offset-1">
		<header class="post-header">
			<h2 class="post-title text-center super lighter">
				<a href="{{ post.url }}" style="color: #c91b26"><i class="fa fa-retweet"></i> "{{ post.excerpt | strip_html }}"</a>
			</h2>
			<p class="light small text-center">
				Share this Status
			</p>
			<ul class="social-mini text-center">
				<li>
					<a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ post.url }}%20via%20&#64;{{ site.author.twitter }}"
						onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ post.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
						data-toggle="tooltip" title="Share on Facebook">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://plus.google.com/share?url={{ post.url }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"
						data-toggle="tooltip" title="Share on Google plus">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
			</ul>
			<div class="post-info text-center small">
				Status posted @
				<time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>

				{% if post.modified %}
					{% if modifiedtime != posttime %} 
				and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>
					{% endif %}
				{% endif %} 
				
				in <span class="post-tags">
					
				{% for tag in post.categories %}
				
				<a href="/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
					{{ tag | capitalize }}
				</a>

					{% unless forloop.last %}
				&nbsp;&bull;&nbsp;
					{% endunless %}
				{% endfor %}
				</span>&nbsp;

				<span class="post-tags">by {{ site.author.name }}</span>
				<div class="post-body bordered-bottom"></div>
			</div>
		</header>
	</article>
</div>
		{% endif %}

	    {% if post.type == 'video' %}
<div class="row">
	<article class="post post col-md-8 col-md-offset-2">
		<header class="post-header">
			{% if post.link %}
			<h2 class="post-title text-center super lighter">
				<a href="{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px">
					<i class="fa fa-play-circle"></i> {{ post.title }}
				</a>
			{% else %}
				<h2 class="post-title text-center super lighter bordered-bottom">
					<a href="{{ post.url }}"><i class="fa fa-play-circle"></i> {{ post.title }}</a>
			{% endif %}
			</h2>

			<div class="post-info text-center small">
				<time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>
			
			{% if post.modified %}
			
				{% if modifiedtime != posttime %} 
				and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>
				{% endif %}
			{% endif %} 
				in <span class="post-tags">

				{% for tag in post.categories %}
				<a href="/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
					{{ tag | capitalize }}
				</a>
					{% unless forloop.last %}
				&nbsp;&bull;&nbsp;
					{% endunless %}
				{% endfor %}
				</span>
				
				{% if site.readtime %}
				
				&nbsp;<span class="post-tags"><i class="fa fa-clock-o"></i>&nbsp;
					{% if readtime > 1 and readtime < 1.5 %}
					1 minute read
					{% endif %}

					{% if readtime > 1.5 %}
					<span class="time">{{ readtime }}</span> minutes read
					{% endif %}
					
					{% if readtime < 1 %}
					Less than 1 minute read
					{% endif %}
				</span>
				{% endif %}
			</div>
		</header>

		<div class="post-body bordered-bottom">
			{% if post.video %}
				{% assign video_embed = post.video | remove:'https://www.youtube.com/watch?v=' %}
			<p>
				<iframe width="940" height="529" src="//www.youtube.com/embed/{{ video_embed }}?theme=light&amp;color=white" frameborder="0"
					allowfullscreen> </iframe>
			</p>

			<p class="lead">{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
			{% else %}
			<p class="lead">{{ post.excerpt }}&hellip;</p>
			{% endif %}

			<div class="text-center">
			{% if post.description %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> see more...
				</a>
			{% else %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> see more...
				</a>
			{% endif %}
			</div>
		</div>
	</article>
</div>
	    {% endif %}

		{% if post.type == 'photo' %}
<div class="row">
	<article class="post post col-md-8 col-md-offset-2">
		<header class="post-header">
			{% if post.photo %}
			<figure>
				<a href="{{ post.url }}"><img src="/images/{{ post.photo }}" alt="{{ post.title }}" itemprop="image"></a>
			</figure>
			{% else %}
			<figure>
				<a href="{{ post.url }}"><img src="/images/{{ post.imagefeature }}" alt="{{ post.title }}" itemprop="image"></a>
			</figure>
			{% endif %}
			
			{% if post.link %}
			<h2 class="post-title text-center super lighter">
				<a href="{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px">
					<i class="fa fa-picture-o"></i> {{ post.title }}
				</a>
			{% else %}
			<h2 class="post-title text-center super lighter bordered-bottom">
				<a href="{{ post.url }}">
					<i class="fa fa-picture-o"></i> {{ post.title }}
					</a>
			{% endif %}
			</h2>
				
			<div class="post-info text-center small">
				<time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>
				
			{% if post.modified %}
				{% if modifiedtime != posttime %}
			and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>
				{% endif %}
			{% endif %} 
			
			in <span class="post-tags">
				
			{% for tag in post.categories %}
			<a href="/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
				{{ tag | capitalize }}
			</a>
			{% unless forloop.last %}
			&nbsp;&bull;&nbsp;
			{% endunless %}
			{% endfor %}
			</span>
			
			{% if site.readtime %}
				&nbsp;<span class="post-tags"><i class="fa fa-clock-o"></i>&nbsp;
				{% if readtime > 1 and readtime < 1.5 %}
					1 minute read
				{% endif %}
				{% if readtime > 1.5 %}
					<span class="time">{{ readtime }}</span> minutes read
				{% endif %}
				{% if readtime < 1 %}
					Less than 1 minute read
				{% endif %}
				</span>
			{% endif %}
			</div>
		</header>

		<div class="post-body bordered-bottom">
			<p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
			<div class="text-center">
			{% if post.description %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> read more...
				</a>
			{% else %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> read more...
				</a>
			{% endif %}
			</div>
		</div>
	</article>
</div>
		{% endif %}
	        
			
		{% if post.type != 'video' and post.type != 'status' and post.type != 'quote' and post.type != 'photo' %}
<div class="row">
	<article class="post post col-md-8 col-md-offset-2">
		<header class="post-header">
		{% if post.featured %}
			<div class="cursive">this post is featured</div>
		{% endif %}
		
		{% if post.link %}
			<h2 class="post-title text-center super lighter">
				<a href="{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px">
					<i class="fa fa-link"></i> {{ post.title }}
				</a>
		{% else %}
				<h2 class="post-title text-center super lighter bordered-bottom">
					<a href="{{ post.url }}">{{ post.title }}</a> 
		{% endif %}
			</h2>

			<div class="post-info text-center small">
				<time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>

			{% if post.modified %}
				{% if modifiedtime != posttime %}
					and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>
				{% endif %}
			{% endif %} 
				
			in <span class="post-tags">
				
			{% for tag in post.categories %}
				<a href="/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
					{{ tag | capitalize }}
				</a>
			{% unless forloop.last %}
				&nbsp;&bull;&nbsp;
			{% endunless %}
			{% endfor %}
			</span>
				
			{% if site.readtime %}
			&nbsp;<span class="post-tags"><i class="fa fa-clock-o"></i>&nbsp;
				{% if readtime > 1 and readtime < 1.5 %}
					1 minute read
				{% endif %}

				{% if readtime > 1.5 %}
					<span class="time">{{ readtime }}</span> minutes read
				{% endif %}

				{% if readtime < 1 %}
					Less than 1 minute read
				{% endif %}
				</span>
			{% endif %}
			</div>
		</header>

		<div class="post-body bordered-bottom">
			{% assign excerptsize = post.excerpt | number_of_words %} 
			
		{% if excerptsize <= 100 and excerptsize >= 50 %}
			<p class="lead">{{ post.excerpt | strip_html }}&hellip;</p>
		{% else %}
			<p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
		{% endif %}
			<div class="text-center">
			{% if post.description %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> read more...
				</a>
			{% else %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> read more...
				</a>
			{% endif %}
			</div>
		</div>
	</article>
</div>
		{% endif %}
	{% endfor %}

	{% if paginator.total_pages > 1 %}
<div class="row text-center text-caps">
	<div class="col-md-8 col-md-offset-2">
		<nav class="pagination" role="navigation">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
        	<a class="newer-posts" href="">&larr; Newer Posts</a>
			{% else %}
			<a class="newer-posts" href="/blog/{{ paginator.previous_page }}">&larr; Newer Posts</a>
			{% endif %}
		{% endif %}
    	<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}   
    		<a class="older-posts" href="/blog/{{ paginator.next_page }}">Older Posts &rarr;</a>
 		{% endif %}
		</nav>
    </div>
</div>
	{% endif %}
	{% else %}
	{% for post in paginator.posts %}

		{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
		{% assign modifiedtime = post.modified | date: "%Y%m%d" %}
		{% assign posttime = post.date | date: "%Y%m%d" %}

		{% if post.type == 'quote' %}
<div class="row">
	<article class="post col-md-10 col-md-offset-1">
		<header class="post-header">
			<h2 class="post-title text-center super lighter">
				<a href="{{ post.url }}"><i class="fa fa-quote-left"></i> {{ post.excerpt | strip_html }}</a>
			</h2>
			<p class="light small text-center">
				Share this Quote
			</p>
			<ul class="social-mini text-center">
				<li>
					<a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ post.url }}%20via%20&#64;{{ site.author.twitter }}"
						onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ post.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
						data-toggle="tooltip" title="Share on Facebook">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://plus.google.com/share?url={{ post.url }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"
						data-toggle="tooltip" title="Share on Google plus">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
			</ul>
			<div class="post-body bordered-bottom text-center">
			{% if post.description %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> permalink...
				</a>
			{% else %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> permalink...
				</a>
			{% endif %}
			</div>
		</header>
	</article>
</div>

		{% endif %}

	    {% if post.type == 'status' %}
<div class="row">
	<article class="post col-md-10 col-md-offset-1">
		<header class="post-header">
			<h2 class="post-title text-center super lighter">
				<a href="{{ post.url }}" style="color: #c91b26"><i class="fa fa-retweet"></i> "{{ post.excerpt | strip_html }}"</a>
			</h2>
			<p class="light small text-center">
				Share this Status
			</p>
			<ul class="social-mini text-center">
				<li>
					<a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ post.url }}%20via%20&#64;{{ site.author.twitter }}"
						onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ post.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
						data-toggle="tooltip" title="Share on Facebook">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://plus.google.com/share?url={{ post.url }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"
						data-toggle="tooltip" title="Share on Google plus">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
			</ul>
			<div class="post-info text-center small">
				Status posted @ <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>
			{% if post.modified %}
				{% if modifiedtime != posttime %}
				and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>
				{% endif %}
			{% endif %}
			
				in <span class="post-tags">
				{% for tag in post.categories %}
					<a href="/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
						{{ tag | capitalize }}
					</a>
				{% unless forloop.last %}
					&nbsp;&bull;&nbsp;
				{% endunless %}
				{% endfor %}
				</span>&nbsp;
				<span class="post-tags">
					by {{ site.author.name }}
				</span>
				<div class="post-body bordered-bottom"></div>
			</div>
		</header>
	</article>
</div>
		{% endif %}

	    {% if post.type == 'video' %}
<div class="row">
	<article class="post post col-md-8 col-md-offset-2">
		<header class="post-header">
		{% if post.link %}
			<h2 class="post-title text-center super lighter">
				<a href="{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="fa fa-play-circle"></i> {{ post.title }}</a>
		{% else %}
			<h2 class="post-title text-center super lighter bordered-bottom">
				<a href="{{ post.url }}"><i class="fa fa-play-circle"></i> {{ post.title }}</a>
		{% endif %}
			</h2>
			<div class="post-info text-center small">
				<time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>
				{% if post.modified %}
					{% if modifiedtime != posttime %}
					and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>
					{% endif %}
				{% endif %}
				
				in <span class="post-tags">
				{% for tag in post.categories %}
					<a href="/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
						{{ tag | capitalize }}
					</a>
				{% unless forloop.last %}
					&nbsp;&bull;&nbsp;
				{% endunless %}
				{% endfor %}
				</span>
				
				{% if site.readtime %}
				&nbsp;<span class="post-tags"><i class="fa fa-clock-o"></i>&nbsp;
					{% if readtime > 1 and readtime < 1.5 %}
						1 minute read
					{% endif %}
					{% if readtime > 1.5 %}
						<span class="time">{{ readtime }}</span> minutes read
					{% endif %}
					{% if readtime < 1 %}
						Less than 1 minute read
					{% endif %}
				</span>
				{% endif %}
			</div>
		</header>

		<div class="post-body bordered-bottom">
		{% if post.video %} 
			{% assign video_embed = post.video | remove:'https://www.youtube.com/watch?v=' %}
			<p>
				<iframe width="940" height="529" src="//www.youtube.com/embed/{{ video_embed }}?theme=light&amp;color=white" frameborder="0"
					allowfullscreen> </iframe>
			</p>
			<p class="lead">{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
		{% else %}
			<p class="lead">{{ post.excerpt }}&hellip;</p>
		{% endif %}

			<div class="text-center">
			{% if post.description %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> see more...
				</a>
			{% else %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> see more...
				</a>
			{% endif %}
			</div>
		</div>
	</article>
</div>
		{% endif %}

	    {% if post.type == 'photo' %}
<div class="row">
	<article class="post post col-md-8 col-md-offset-2">
		<header class="post-header">
		{% if post.photo %}
			<figure>
				<a href="{{ post.url }}"><img src="/images/{{ post.photo }}" alt="{{ post.title }}" itemprop="image"></a>
			</figure>
		{% else %}
			<figure>
				<a href="{{ post.url }}"><img src="/images/{{ post.imagefeature }}" alt="{{ post.title }}" itemprop="image"></a>
			</figure>
		{% endif %}
		
		{% if post.link %}
			<h2 class="post-title text-center super lighter">
				<a href="{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px">
					<i class="fa fa-picture-o"></i> {{ post.title }}
				</a>
		{% else %}
			<h2 class="post-title text-center super lighter bordered-bottom">
				<a href="{{ post.url }}">
					<i class="fa fa-picture-o"></i> {{ post.title }}
				</a>
		{% endif %}
		</h2>

			<div class="post-info text-center small">
				<time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>
			
			{% if post.modified %}
				{% if modifiedtime != posttime %}
				and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>
				{% endif %}
			{% endif %}

				in <span class="post-tags">
				{% for tag in post.categories %}
					<a href="/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
						{{ tag | capitalize }}
					</a>
				{% unless forloop.last %}
				&nbsp;&bull;&nbsp;
				{% endunless %}
				{% endfor %}
				</span>

				{% if site.readtime %}
				&nbsp;<span class="post-tags"><i class="fa fa-clock-o"></i>&nbsp;

				{% if readtime > 1 and readtime < 1.5 %}
					1 minute read{% endif %}{% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> minutes read
				{% endif %}

				{% if readtime< 1 %}
					Less than 1 minute read
				{% endif %}
				</span>
				{% endif %}
			</div>
		</header>

		<div class="post-body bordered-bottom">
			<p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
			<div class="text-center">
			{% if post.description %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> read more...
				</a>
			{% else %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> read more...
				</a>
			{% endif %}
			</div>
		</div>
	</article>
</div>
		{% endif %}

	    {% if post.type != 'video' and post.type != 'status' and post.type != 'quote' and post.type != 'photo' %}
<div class="row">
	<article class="post post col-md-8 col-md-offset-2">
		<header class="post-header">
		{% if post.featured %}
			<div class="cursive">this post is featured</div>
		{% endif %}
		
		{% if post.link %}
			<h2 class="post-title text-center super lighter">
				<a href="{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px">
					<i class="fa fa-link"></i> {{ post.title }}
				</a>
		{% else %}
			<h2 class="post-title text-center super lighter bordered-bottom">
				<a href="{{ post.url }}">{{ post.title }}</a> {% endif %}
			</h2>

			<div class="post-info text-center small">
				<time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>
			{% if post.modified %}
				{% if modifiedtime != posttime %} 
				and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>
				{% endif %}
			{% endif %}

			in <span class="post-tags">
			{% for tag in post.categories %}
			<a href="/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
				{{ tag | capitalize }}
			</a>
			{% unless forloop.last %}
			&nbsp;&bull;&nbsp;
			{% endunless %}
			{% endfor %}
			</span>

			{% if site.readtime %}
				&nbsp;<span class="post-tags"><i class="fa fa-clock-o"></i>&nbsp;
				
				{% if readtime > 1 and readtime < 1.5 %}
					1 minute read
				{% endif %}

				{% if readtime > 1.5 %}
					<span class="time">{{ readtime }}</span> minutes read
				{% endif %}
				
				{% if readtime < 1 %}
					Less than 1 minute read
				{% endif %}
				</span>
			{% endif %}
			</div>
		</header>

		<div class="post-body bordered-bottom">
			{% assign excerptsize = post.excerpt | number_of_words %}
			
		{% if excerptsize <= 100 and excerptsize >= 50 %}
			<p class="lead">{{ post.excerpt | strip_html }}&hellip;</p>
		{% else %}
			<p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
		{% endif %}

			<div class="text-center">
			{% if post.description %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> read more...
				</a>
			{% else %}
				<a href="{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> read more...
				</a>
			{% endif %}
			</div>
		</div>
	</article>
</div>
		{% endif %}

	{% endfor %}  
{% endif %}